<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update}" th:object="${adduser}" method="POST">

    <label for="id">ID</label>
    <input type="text" th:field="*{id}" id="id" placeholder="User ID">
    <br/>
    <label for="username">First name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="User Name">
    <br/>
    <label for="lastname">Last name</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Last Name">
    <br/>
    <label for="password">password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <br/>
    <tr><td> <label>Select Roles:</label>
        <select name="roles" id="roles" multiple="multiple" size="2">
            <div th:each="role : ${roles}">
                <option th:text="${role.getName()}" th:value="${role.getId()}"></option>
            </div>
        </select>
    </td></tr>
    <br/>
    <br/>
    <input type="submit" value="Update User">
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

<!--<form action="#" method="POST" th:action="@{/admin/user-update}" th:object="${adduser}">-->
<!--    <label for="username">Enter firstname: </label>-->
<!--    <input type="text" th:field="*{username}" id="username"/>-->
<!--    <br/>-->
<!--    <label for="lastname">Enter lastname: </label>-->
<!--    <input type="text" th:field="*{lastname}" id="lastname"/>-->
<!--    <br/>-->
<!--    <label for="password">Enter password: </label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <br/>-->
<!--    <tr>-->
<!--        <td> <label>Select Roles:</label>&ndash;&gt;-->
<!--            <select name="roles" id="roles" multiple="multiple" size="2">-->
<!--                <div th:each="role : ${roles}">-->
<!--                    <option th:text="${role.getName()}" th:value="${role.getId()}"></option>-->
<!--                </div>-->
<!--            </select>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <input type="submit" value="Update User">-->
<!--</form>-->
<!--<div><a href="/logout">logout</a></div>-->
</body>
</html>