<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>User page</title>
</head>
<body>

<header class="navbar navbar-dark bg-dark">
    <div class="text-white float-left">
        <span class="font-weight-bold" th:text="${user.getUsername()}">username</span> with roles:
        <span th:each="role : ${user.getRoles}" th:text="${role.shortNameOfRole(role.getName())}"></span>
    </div>
    <div class="float-right">
        <form th:action="@{/logout}" th:method="get">
            <button type="submit" class="btn btn-link text-secondary">Logout</button>
        </form>
    </div>
</header>

<div class="container-fluid mt-4 pr-5">
    <div class="row">
        <div class="list-group col-2">
            <a href="#" class="list-group-item active rounded-sm">User</a>
        </div>
        <div class="col-10">
            <h1 class="pb-2">User information-page</h1>
            <div class="border rounded">
                <h4 class="p-3 m-0">About user</h4>
                <hr class="m-0">
                <div class="p-4">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.getId()}">id</td>
                            <td th:text="${user.getUsername()}">name</td>
                            <td th:text="${user.getLastname()}">age</td>
                            <td>
                                <th:block>
                                    <span th:each="role : ${user.getRoles()}" th:text="${role.shortNameOfRole(role.getName())}"></span>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

