<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
<h2>Сreating a new User</h2>
<form action="#" th:action="@{/admin/user-create}" th:object="${adduser}" method="POST">

    <label for="username">First Name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="User Name">
    <br/>
    <label for="lastname">Last Name</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Last name">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <tr><td> <label>Select Roles:</label>
        <select name="roles" id="roles" multiple="multiple" size="2">
            <div th:each="role : ${roles}">
                <option th:text="${role.getName()}" th:value="${role.getId()}"/>
            </div>
        </select>
    </td></tr>

    <input type="submit" value="Create User">
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>